.padpage {
  padding-top: 10px;
}
.block {
  display: inline-block;
}
.smallBlack {
  font-size: small;
  color: black;
}
.small {
  font-size: small;
  color: darkgrey;
}
.nounder {
  text-decoration: none;
}
